/*************** COMMON/CONTAINER *****************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(53, 53, 53);
    padding: 1rem;
    text-align: center;
}


/************* HEADER *************/





/************* MAIN *************/

#btn{
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(228, 228, 183);
}

li{
    font-size: 1.5rem;
    color: green;
    list-style-type: none;
}



/************* FOOTER *************/





/************* RESPONSIVE *************/
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 576px) {
 
}